body 
{
    margin: 0;
    min-height: 100dvh;
    font-family: sans-serif;
    width: 100vw;
}

div > ul.tree
{
    max-height: 30vh;
    overflow: scroll;
    border-bottom: 1px solid #aaa;
}

div > ul.tree::-webkit-scrollbar 
{
    display: none;
}

div > ul.tree
{
    -ms-overflow-style: none; 
    scrollbar-width: none; 
} 

.center 
{
    width: 100vw;
    display: flex;
    justify-content: center;
}

h1 
{
    font-size: 1.5rem;
}

main 
{
    width: calc(100vw - 7rem);
    max-width: 50rem;
}

h3.author
{
    margin-top: -1rem;
    color: gray;
    font-size: 1.1rem;
    font-weight: 200;
}

.bookmark
{
    min-width: 2.5rem !important;
    height: 2.5rem !important;
    background-color: white;
    border-radius: 20%;
    cursor: pointer;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease;
    margin-right: 0.5rem;
}

.bookmark > img 
{
    height: 60%;
}

.bookmark.bookmark:not(.active)
{
    border: 1px solid #bbb;
}

.bookmark.active 
{
    border: 1px solid #FFAB2D;
}

.bookmark.active > img:first-child
{
    display: none;
}

.bookmark.active > img:last-child
{
    display: block;
}

.bookmark:not(.active) > img:first-child
{
    display: block;
}

.bookmark:not(.active) > img:last-child
{
    display: none;
}

.flex 
{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

p.note 
{
    margin-top: -0.75rem;
    font-size: 0.85rem;
    color: #aaa;
}

.home 
{
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    bottom: 1rem;
    right: 1rem;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home > img 
{
    height: 65%;
}