body 
{
    margin: 0;
    min-height: 100vh;
    max-height: 100vh;
    font-family: sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

div > ul.tree
{
    height: 30vh;
    overflow: scroll;
    border-bottom: 1px solid #aaa;
}

div > ul.tree::-webkit-scrollbar 
{
    display: none;
}

div > ul.tree
{
    -ms-overflow-style: none; 
    scrollbar-width: none; 
} 

.center 
{
    width: 100vw;
    display: flex;
    justify-content: center;
}

h1 
{
    font-size: 1.5rem;
}

main 
{
    width: calc(100vw - 7rem);
    max-width: 50rem;
}

h3.author
{
    margin-top: -1rem;
    color: gray;
    font-size: 1.1rem;
    font-weight: 200;
}

h3.sub
{
    margin-bottom: -0.5rem;
    margin-top: 2.5rem;
}

.bookmark
{
    margin-left: 0.3rem;
    min-width: 2.5rem !important;
    height: 2.5rem !important;
    background-color: white;
    border-radius: 20%;
    cursor: pointer;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease;
    margin-right: 0.5rem;
}

.bookmark > img 
{
    height: 60%;
}

.bookmark.bookmark:not(.active)
{
    border: 1px solid #bbb;
}

.bookmark.active 
{
    border: 1px solid #FFAB2D;
}

.bookmark.active > img:first-child
{
    display: none;
}

.bookmark.active > img:last-child
{
    display: block;
}

.bookmark:not(.active) > img:first-child
{
    display: block;
}

.bookmark:not(.active) > img:last-child
{
    display: none;
}

.flex 
{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

p.note 
{
    margin-top: -0.75rem;
    font-size: 0.85rem;
    color: #aaa;
}

.home 
{
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    bottom: 1rem;
    right: 1rem;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home > img 
{
    height: 65%;
}

h2 
{
    font-size: 1.4rem;
    margin-bottom: -0.5rem;
}

.center-image 
{
    width: 100%;
    max-width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.center-image > img 
{
    max-width: 100%;
    height: auto;

}

.lml 
{
    margin-top: -0.8rem;
}
.h30
{
    max-height: 30rem !important;
}
.h20
{
    max-height: 20rem !important;
}
.h15
{
    max-height: 15rem !important;
}
.h10
{
    max-height: 10rem !important;
}

.t-red
{
    color:red;
}

.titles > h1 
{
    height: 2rem;
    display: flex;
    align-content: center;
    width: 100%;
    background-color: white;
    color: black;
    padding: 0.3rem 1.1rem 0.3rem 1.2rem;
    transform: translateX(-1.2rem);
}

.edited-date
{
    color: #aaa;
    margin-top: -1rem;
    font-size: 0.75rem;
}

.highlight
{
    position: fixed;
    background: none;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    bottom: 4rem;
    right: 1rem;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.highlight > img 
{
    height: 80%;
}

.highlighted 
{
    background-color: #ffd413 !important;
    cursor: pointer;
}

.highlighted:hover 
{
    background-color: #FFAB2D !important;
}

.underline 
{
    text-decoration: underline;
}

#main > ul
{
    list-style: disc;
}

.center-text 
{
    text-align: center;
}

a 
{
    color: black;
    text-decoration: 2px underline #426de2;
    transition: 0.1s ease;
}

a:hover, a.normal:hover
{
    text-decoration: 4px underline #426de2;
}

a.normal
{
    color: black;
    text-decoration: 2px underline #426de2;
}

a.normal::before 
{
    display: none;
}

hr 
{
    margin: 2.5rem 1rem;
    border: none;
    border-top: 1px solid lightgray;
}

iframe 
{
    max-width: 100%;
}

footer 
{
    width: calc(100% - 1.5rem);
    max-width: 100vw;
    overflow-x: hidden;
    height: fit-content;
    position: static;
    bottom: 0;
    background: linear-gradient(180deg, #444, #111);
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    color: white;
    margin-top: 5rem;
}

div.credits 
{
    padding-right: 1rem;
    border-right: 1px solid #444;
}

p.credits 
{
    margin-top: 0.2rem;
}

.footer-links
{
    margin-top: 1rem;
    display: block;
    border-right: 1px solid #444;
}

.footer-links > a 
{
    color: white !important;
    text-decoration: underline 2px #FFAB2D;
    transition: 0.1s ease;
}

.footer-links > a:hover 
{
    text-decoration: underline 4px #FFAB2D;
}

ul.n 
{
    list-style: disc;
}

.cover 
{
    margin-bottom: -3.5rem;
    width: 100%;
    aspect-ratio: 4 / 1;
    object-fit: cover;
}

@media screen and (max-width: 410px)
{
    .cover
    {
        margin-bottom: -0.5rem;
    }

    .titles > h1 
    {
        font-size: 1.3rem;
    }
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}

th
{
    background-color: black;
    color: white;
}

th, td
{
    padding: 0.5rem;
}

.cur
{ 
  font-family: italic;
}

.t-orn
{
    color:orange;
}

.t-grn
{
    color:rgb(0, 167, 0);
}