@font-face
{
	font-family: merriweather;
	src: url("assets/merriweather.ttf");
}

html
{
	font-family: sans-serif;
}

body 
{
	margin: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	background: white url("https://assets.wanikani.com/assets/bg-texture-9b558ad5.png");
}

main 
{
	width: 100%;
	max-width: 60rem;
	background-color: white;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15) inset;
	border-left: 1px solid #eee;
	border-right: 1px solid #ddd;
}

h1 
{
	font-family: "merriweather";
	text-decoration: solid underline 2px rgb(252, 172, 0);
	text-underline-offset: 5px;
	text-align: center;
}

h2
{
	font-family: "merriweather";
	text-align: center;
	color: gray;
}

h2.black 
{
	color: black;
}

.logo
{
	height: 3rem;
	margin-right: 0.5rem;
}

.flex 
{
	display: flex;
}

hr 
{
	width: 75%;
	border: none;
	margin: 3rem auto;
	border-bottom: 1px solid lightgray;
}

.courses
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 8rem;
	display: flex;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
	width: calc((3.5rem + 1px) * 3 - 1px);
}

.course 
{
	height: 8rem;
	padding: 1rem;
	line-height: 1.5rem;
	writing-mode: vertical-rl;
	color: white;
	border-right: 1px solid white;
	font-weight: bold;
	display: flex;
	box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0) inset;
	transition: 0.2s ease;
	justify-content: space-between;
}

.course:last-child
{
	border-right: none;
}

.course:hover 
{
	cursor: pointer;
	box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5) inset;
	padding-top: 2rem;
}

p 
{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}