:root 
{
    --base-font-size: 16px;
}

.math 
{
    --color: rgb(32, 127, 235);
}

.ss 
{
    --color: salmon;
}

.sc 
{
    --color: rgb(23, 187, 23);
}

.lang 
{
    --color: rgb(245, 174, 33);
}

ul.tree 
{
    position: relative;
    user-select: none;
    margin-top: 2rem;
}

ul 
{
    list-style: none;
}

summary 
{
    display: block;
    cursor: pointer;
}

details > summary::marker,
details > summary::-webkit-details-marker
{
  display: none;
}

li 
{
    margin-top: -0.05rem;
    line-height: 1.525rem;
    position: relative;
}

li:not(:has(details))
{
    padding-bottom: 0.1rem;
}

summary::before 
{
    margin-right: 0.3rem;
    display: inline-block;
    content: "";
    width: 0.55rem; 
    height: 0.55rem; 
    border: 0.125rem solid #000; 
    background-color: #fff;
    border-radius: 50%;
    transition: 0.1s;
    z-index: 1;
}

li:not(:has(details)) > a::before
{
    content: "";
    display: inline-block;
    margin-left: 0.075rem;
    margin-right: 0.35rem;
    width: 0.4rem; 
    height: 0.4rem; 
    background-color: #fff;
    border: 0.125rem solid black; 
    z-index: 1;
}

details[open] > summary::before 
{
    border-radius: 25%;
    border: none;
    border: 0.125rem solid var(--color); 
}

li::before 
{
    display: block;
    content: "";
    position: absolute;
<<<<<<< HEAD
    left: 5.52px;
    top: 8px;
    width: 2px;
    height: calc(100% - 3.2px);
=======
    left: 0.345rem; 
    top: 0.5rem; 
    width: 0.125rem; 
    height: calc(100% - 0.0125rem); 
>>>>>>> 55d5516d2c0f7a539f25e41212226c3785c06410
    background-color: var(--color);
    z-index: -1;
}

ul:not(.tree) > li:first-child::after 
{
    display: block;
    content: "";
    position: absolute;
    left: -2.15rem; 
    top: 0;
    width: 2.5rem; 
    height: 0.725rem; 
    border-bottom: 0.125rem solid var(--color); 
    border-left: 0.125rem solid var(--color); 
    border-bottom-left-radius: 0.6rem; 
    z-index: -1;
}

li:last-child:not(.root)::before 
{
    height: 0;
}

li:last-child:not(.root)::before 
{
<<<<<<< HEAD
    height: 16px;
}

li:not(:has(details))::after 
{
    display: block;
    content: "";
    position: absolute;
    left: 5.6px;
    top: 24px;
    width: 20px;
    height: 11.6px;
    border-bottom: 2px solid var(--color);
    border-left: 2px solid var(--color);
    border-bottom-left-radius: 9.6px;
    z-index: -1;
}

li:not(:has(details))::before {
    display: block;
    content: "";
    position: absolute;
    left: 22.4px;
    top: 31.6px;
    width: 6.4px;
    height: 6.4px;
    background-color: white;
    border: 2px solid black;
=======
    height: calc(100% - 1.6rem)
>>>>>>> 55d5516d2c0f7a539f25e41212226c3785c06410
}

ul.tree > li:last-child:not(:has(details[open]))::before 
{
    height: 0;
}

li:last-child:has(details[open])::before 
{
    height: 1rem;
}

li > a 
{
    color: black;
    text-decoration: underline;
    text-decoration-color: var(--color);
}

li > a::before 
{
    content: ">";
    color: var(--color);
}

a.gdoc::after
{
    display: inline-block;
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    margin-left: 0.2rem;
    transform: translateY(0.075rem);
    background-image: url("https://cdn-icons-png.flaticon.com/512/5968/5968517.png");
    background-size: cover;
}

a.chain::after
{
    display: inline-block;
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    margin-left: 0.2rem;
    transform: translateY(0.075rem);
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/56/Chain_link_icon_slanted.png");
    background-size: cover;
}